@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}

$primary-color: #323232;
$secondary-color: #fff;

.gallery-section {
  background-color: #fafafa;

  @include tablet {
    padding: 1.5rem;
  }

  @include desktop {
    padding: 1.5rem 8rem;
  }

  .gallery-section__container {
    @include tablet {
      display: flex;
      flex-wrap: nowrap;
      width: 33%;
      margin-bottom: 1rem;
    }
  }

  &__image {
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0.6rem 1.5rem;

    @include tablet {
      padding: 0.6rem 1rem;
    }
  }

  &__heading {
    padding: 1rem 1.5rem;
    padding-bottom: 0;
    font-size: 2.2rem;

    @include tablet {
      font-size: 2.8rem;
      padding: 2rem 1rem;
      font-size: 2.8rem;
    }
  }
}
