@import "./partials/typography";
@import "./partials/footer";
@import "./partials/gallery";
@import "./partials/comment";

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

$primary-color: #323232;
$secondary-color: #fff;

html {
  font-family: "AvenirNext LT Pro";
}

header,
footer {
  background-color: $primary-color;
}

header {
  @include tablet {
    display: flex;
    align-items: center;
  }
}

.site-logo__image {
  width: 7.5rem;
  height: 1.2rem;
  margin: 1.5rem 0;

  @include tablet {
    margin: 2rem 4rem;
  }

  @include desktop {
    margin: 2rem 8rem;
    margin-right: 4rem;
  }
}

.site-logo__link {
  display: flex;
  justify-content: center;
}

a.navigation-section__link {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  list-style: none;
  &.bold {
    font-weight: bold;
  }

  @include tablet {
    padding-left: 3rem;
  }
}

.navigation-section__list {
  display: flex;
  padding: 0;
  margin-bottom: 0;
  justify-content: space-around;
}

.nav__styling {
  width: 50%;
  text-align: center;
  padding-bottom: 30px;

  @include tablet {
    padding-bottom: 1.7rem;
    padding-right: 5rem;
    width: 30%;
  }

  &.active {
    border-bottom: 4px solid white;
  }
}

.hero-section {
  background-image: linear-gradient(rgba(50, 50, 50, 0.5)),
    url("../assets/images/hero-bio.jpg");
  background-position: center;
  background-size: cover;
  height: 70vh;

  @include tablet {
    height: 120vh;
  }

  &__heading {
    color: $secondary-color;
    font-size: 2.4rem;
    margin-top: 0;
    padding-top: 11.5rem;
    padding-left: 1.5rem;
    line-height: 2rem;

    @include tablet {
      font-size: 5rem;
      padding-left: 4rem;
      padding-top: 23rem;
    }

    @include desktop {
      padding-left: 8rem;
      font-size: 6rem;
    }
  }
}

.about-section {
  &__image {
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0.5rem 1.5rem;

    @include tablet {
      padding: 0 7rem;
    }

    @include desktop {
      padding: 0 14rem;
    }
  }

  &__heading {
    font-size: 2.2rem;
    padding: 0.8rem 1.5rem;

    @include tablet {
      font-size: 3rem;
      padding: 3rem 4rem;
    }

    @include desktop {
      padding-left: 8rem;
    }
  }

  &__paragraph {
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 600;
    padding: 0 1.5rem;

    @include tablet {
      padding: 1rem 7.2rem;
      padding-bottom: 0;
    }

    @include desktop {
      padding: 2.5rem 14rem;
      padding-bottom: 0;
      font-size: 1.6rem;
      line-height: 2.3rem;
    }
  }
}

.text-section {
  &__heading {
    padding: 1.5rem;
    font-weight: normal;

    @include tablet {
      padding: 1.5rem 7rem;
      font-weight: bold;
      font-size: 2rem;
    }

    @include desktop {
      padding: 3rem 14rem;
      padding-bottom: 2rem;
    }
  }

  &__paragragh {
    font-size: 1.2rem;
    line-height: 1.8rem;
    padding-bottom: 1rem;

    @include tablet {
      margin-right: 4rem;
      line-height: 1.9rem;
    }
  }

  &__container {
    padding: 0 1.5rem;

    @include tablet {
      display: flex;
      padding: 1rem 7rem;
      padding-right: 2.5rem;
    }

    @include desktop {
      padding: 2rem 14rem;
    }
  }
}

.form__name,
.form__comment {
  color: #afafaf;
  font-size: 1.2rem;
  margin: 1rem 0;
  margin-left: 3rem;
}

input {
  width: 80%;
  height: 3rem;
  border-radius: 0.5rem;
  border-color: #afafaf;
  padding: 2rem 1rem;
  background-color: #fafafa;
  font-family: "AvenirNext LT Pro";
  font-size: 1.5rem;
  color: black;
  margin-left: 3rem;

  @include tablet {
    width: 90%;
    height: 2.5rem;
  }
}

textarea {
  width: 80%;
  height: 12rem;
  border-radius: 0.5rem;
  border-color: #afafaf;
  padding: 1rem 1rem;
  font-family: "AvenirNext LT Pro";
  font-size: 1.5rem;
  color: black;
  margin-left: 3rem;

  @include tablet {
    width: 90%;
    height: 10rem;
  }
}
label {
  display: block;
}
button {
  display: block;
  width: 80%;
  padding: 1.5rem 0;
  font-family: "AvenirNext LT Pro";
  font-size: 1.5rem;
  font-weight: 800;
  color: #fff;
  background-color: #323232;
  border-color: #323232;
  border-radius: 0.5rem;
  margin: 1.5rem 3rem;

  @include tablet {
    width: 30%;
    padding: 0.7rem 2rem;
    font-size: 1.3rem;
    margin-left: 23.5rem;
  }

  @include desktop {
    margin-left: 32.8rem;
  }
}

form {
  border-bottom: 2px solid #e1e1e1;
}
