@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/font/transfonter.org-20220324-210830/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../assets/font/transfonter.org-20220324-210830/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/font/transfonter.org-20220324-210830/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../assets/font/transfonter.org-20220324-210830/AvenirNextLTPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/font/transfonter.org-20220324-210830/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../assets/font/transfonter.org-20220324-210830/AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

html {
  font-family: "AvenirNext LT Pro";
}

header,
footer {
  background-color: #323232;
}

@media (min-width: 768px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.site-logo__image {
  width: 7.5rem;
  height: 1.2rem;
  margin: 1.5rem 0;
}

@media (min-width: 768px) {
  .site-logo__image {
    margin: 2rem 4rem;
  }
}

.site-logo__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

a.navigation-section__link {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  list-style: none;
}

a.navigation-section__link.bold {
  font-weight: bold;
}

@media (min-width: 768px) {
  a.navigation-section__link {
    padding-left: 3rem;
  }
}

.navigation-section__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin-bottom: 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav__styling {
  width: 50%;
  text-align: center;
  padding-bottom: 30px;
}

@media (min-width: 768px) {
  .nav__styling {
    padding-bottom: 1.7rem;
    padding-right: 5rem;
    width: 30%;
  }
}

.nav__styling.active {
  border-bottom: 4px solid white;
}

.hero-section {
  background-image: url("../assets/images/hero-bio.jpg");
  background-position: center;
  background-size: cover;
  height: 70vh;
}

@media (min-width: 768px) {
  .hero-section {
    height: 120vh;
  }
}

.hero-section__heading {
  color: #fff;
  font-size: 2.4rem;
  margin-top: 0;
  padding-top: 11.5rem;
  padding-left: 1.5rem;
  line-height: 2rem;
}

@media (min-width: 768px) {
  .hero-section__heading {
    font-size: 5rem;
    padding-left: 4rem;
    padding-top: 23rem;
  }
}

.about-section__image {
  margin: 0 auto;
  width: 100%;
  height: auto;
  padding: 0.5rem 1.5rem;
}

@media (min-width: 768px) {
  .about-section__image {
    padding: 0 7rem;
  }
}

.about-section__heading {
  font-size: 2.2rem;
  padding: 0.8rem 1.5rem;
}

@media (min-width: 768px) {
  .about-section__heading {
    font-size: 3rem;
    padding: 3rem 4rem;
  }
}

.about-section__paragraph {
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 600;
  padding: 0 1.5rem;
}

@media (min-width: 768px) {
  .about-section__paragraph {
    padding: 1rem 7.2rem;
    padding-bottom: 0;
  }
}

.text-section__heading {
  padding: 1.5rem 0;
  font-weight: normal;
}

@media (min-width: 768px) {
  .text-section__heading {
    padding: 1.5rem 7rem;
    font-weight: bold;
    font-size: 2rem;
  }
}

.text-section__paragragh {
  font-size: 1.2rem;
  line-height: 1.8rem;
  padding-bottom: 1rem;
}

@media (min-width: 768px) {
  .text-section__paragragh {
    margin-right: 4rem;
    line-height: 1.9rem;
  }
}

.text-section__container {
  padding: 0 1.5rem;
}

@media (min-width: 768px) {
  .text-section__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem 7rem;
    padding-right: 2.5rem;
  }
}

.gallery-section {
  background-color: #fafafa;
}

@media (min-width: 768px) {
  .gallery-section {
    padding: 1.5rem;
  }
}

@media (min-width: 768px) {
  .gallery-section .gallery-section__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 33%;
    margin-bottom: 1rem;
  }
}

.gallery-section__image {
  margin: 0 auto;
  width: 100%;
  height: auto;
  padding: 0.6rem 1.5rem;
}

@media (min-width: 768px) {
  .gallery-section__image {
    padding: 0.6rem 1rem;
  }
}

.gallery-section__heading {
  padding: 1rem 1.5rem;
  padding-bottom: 0;
  font-size: 2.2rem;
}

@media (min-width: 768px) {
  .gallery-section__heading {
    font-size: 2.8rem;
    padding: 2rem 1rem;
  }
}

footer {
  position: relative;
  padding: 0 1.5rem;
}

.footer-section {
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.6rem;
  padding: 0;
}

.footer-section__heading {
  font-size: 2rem;
  padding-top: 2rem;
}

@media (min-width: 768px) {
  .footer-section__heading {
    font-size: 2.8rem;
  }
}

.footer-section__email {
  display: inline-block;
  padding-bottom: 2rem;
}

.footer-section__subheading {
  font-weight: bold;
  padding-bottom: 1.5rem;
}

.footer-section__icons {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2rem 0;
}

@media (min-width: 768px) {
  .footer-section__icons {
    width: 30%;
    margin-left: 3.5rem;
  }
}

.footer-section__logo {
  margin-bottom: 4rem;
  margin-top: 4rem;
  width: 7.5rem;
  height: 1.2rem;
}

@media (min-width: 768px) {
  .footer-section.top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: bottom;
        -ms-flex-align: bottom;
            align-items: bottom;
    padding: 3rem 1rem;
  }
}

@media (min-width: 768px) {
  .footer-section.bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

a.footer-section__email {
  color: #fff;
  text-decoration: none;
}

.footer-section__paragraph,
.footer-section__email {
  font-size: 1.2rem;
  line-height: 1.6rem;
  padding-bottom: 1.5rem;
  width: 75%;
}

small {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 1rem;
  margin-bottom: 1rem;
  margin-left: 1.5rem;
}
/*# sourceMappingURL=bio.css.map */