@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/font/transfonter.org-20220324-210830/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../assets/font/transfonter.org-20220324-210830/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/font/transfonter.org-20220324-210830/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../assets/font/transfonter.org-20220324-210830/AvenirNextLTPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/font/transfonter.org-20220324-210830/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../assets/font/transfonter.org-20220324-210830/AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@-webkit-keyframes click {
  0% {
    border-bottom: 4px solid white;
  }
  100% {
    border-bottom: 4px solid white;
  }
}

@keyframes click {
  0% {
    border-bottom: 4px solid white;
  }
  100% {
    border-bottom: 4px solid white;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

header,
footer {
  background-color: #323232;
}

html {
  font-family: "AvenirNext LT Pro";
}

.site-logo__image {
  width: 7.5rem;
  height: 1.2rem;
  margin: 1.5rem 0;
}

.site-logo__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

a.navigation-section__link {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  list-style: none;
}

.navigation-section__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin-bottom: 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav__styling {
  width: 50%;
  text-align: center;
  padding-bottom: 30px;
}

.nav__styling.active {
  border-bottom: 4px solid white;
}

.hero-section {
  background-image: url("../assets/images/hero-bio.jpg");
  background-position: center;
  background-size: cover;
  height: 70vh;
}

.hero-section__heading {
  color: #fff;
  font-size: 2.4rem;
  margin-top: 0;
  padding-top: 11.5rem;
  padding-left: 1.5rem;
  line-height: 2rem;
}

.about-section__image {
  margin: 0 auto;
  width: 100%;
  height: auto;
  padding: 0.5rem 1.5rem;
}

.about-section__heading {
  font-size: 2.2rem;
  padding: 0.8rem 1.5rem;
}

.about-section__paragraph {
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 600;
  padding: 0 1.5rem;
}

.text-section__heading {
  padding: 1.5rem 0;
  font-weight: normal;
}

.text-section__paragragh {
  font-size: 1.2rem;
  line-height: 1.8rem;
  padding-bottom: 1rem;
}

.text-section__container {
  padding: 0 1.5rem;
}

.gallery-section {
  background-color: #fafafa;
}

.gallery-section__image {
  margin: 0 auto;
  width: 100%;
  height: auto;
  padding: 0.6rem 1.5rem;
}

.gallery-section__heading {
  padding: 1rem 1.5rem;
  padding-bottom: 0;
  font-size: 2.2rem;
}

footer {
  position: relative;
  padding: 0 1.5rem;
}

.footer-section {
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.6rem;
  padding: 0;
}

.footer-section__heading {
  font-size: 2rem;
  padding-top: 2rem;
}

.footer-section__email {
  display: inline-block;
  padding-bottom: 2rem;
}

.footer-section__subheading {
  font-weight: bold;
  padding-bottom: 1.5rem;
}

.footer-section__icons {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2rem 0;
}

.footer-section__logo {
  margin-bottom: 4rem;
  margin-top: 4rem;
  width: 7.5rem;
  height: 1.2rem;
}

a.footer-section__email {
  color: #fff;
  text-decoration: none;
}

.footer-section__paragraph,
.footer-section__email {
  font-size: 1.2rem;
  line-height: 1.6rem;
  padding-bottom: 1.5rem;
  width: 75%;
}

small {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 1rem;
  margin-bottom: 1rem;
  margin-left: 1.5rem;
}
/*# sourceMappingURL=bio.css.map */