@import "./partials/typography";
@import "./partials/footer";

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

$primary-color: #323232;
$secondary-color: #fff;

html {
  font-family: "AvenirNext LT Pro";
}

header,
footer {
  background-color: $primary-color;
}

header {
  @include tablet {
    display: flex;
    align-items: center;
  }
}

.site-logo__image {
  width: 7.5rem;
  height: 1.2rem;
  margin: 1.5rem 0;

  @include tablet {
    margin: 2rem 4rem;
  }

  @include desktop {
    margin: 2rem 8rem;
    margin-right: 4rem;
  }
}

.site-logo__link {
  display: flex;
  justify-content: center;
}

a.navigation-section__link {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  list-style: none;
  &.bold {
    font-weight: bold;
  }

  @include tablet {
    padding-left: 3rem;
  }
}

.navigation-section__list {
  display: flex;
  padding: 0;
  margin-bottom: 0;
  justify-content: space-around;
}

.nav__styling {
  width: 50%;
  text-align: center;
  padding-bottom: 30px;

  @include tablet {
    padding-bottom: 1.7rem;
    padding-right: 5rem;
    width: 30%;
  }

  &.active {
    border-bottom: 4px solid white;
  }
}

.hero-section {
  background-image: linear-gradient(rgba(50, 50, 50, 0.5)),
    url("../assets/images/hero-shows.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
}
iframe {
  margin: 4rem;
  margin-left: 1.5rem;
  height: 9rem;
  width: 90%;
}

.ticket-section__heading {
  font-size: 2.5rem;
  margin: 3rem 1.5rem;
}

.ticket-section__title {
  margin: 1rem 1.5rem;
  margin-bottom: 0.5rem;
  color: #afafaf;
  font-size: 1rem;
  font-weight: 600;
}
.ticket-section__venue,
.ticket-section__location,
.ticket-section__date {
  font-size: 1.4rem;
  margin: 0.8rem 1.5rem;
  margin-bottom: 1.5rem;
}
.ticket-section__date {
  font-weight: 700;
}

.ticket-section__container {
  border-bottom: 2px solid #e1e1e1;
  margin-bottom: 2.2rem;
}

button {
  width: 90%;
  padding: 1.2rem 0;
  font-size: 1.5rem;
  color: #fff;
  background-color: #323232;
  border-color: #323232;
  border-radius: 0.5rem;
  margin: 1.5rem;
}

.hero-section__title {
  color: #fff;
  padding: 3rem 1.5rem;
  font-size: 1.5rem;
}

.hero-section__heading {
  color: #fff;
  width: 70%;
  font-size: 2.5rem;
  padding-left: 1.5rem;
}

.ticket-section__container:hover {
  background-color: #fafafa;
}
.ticket-section__container:active {
  background-color: #e1e1e1;
}
